ag-charts {
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    background-color: #fff;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
}

/* Ensure the heatmap component takes full height */
app-heatmap {
    display: block;
    height: 70%;
    width: 100%;
}

/* Dark mode support */
@media (prefers-color-scheme: dark) {
    ag-charts {
        background-color: #192232;
        border-color: #344054;
    }
}